._posts_grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  padding: 10px;
  justify-items: center;
}

._posts_grid img {
  width: 150px;
  border-radius: 0.5em;
  height: 150px;
  object-fit: cover;
}
