._notifications {
  background-color: #fff;
  width: 400px;
  height: 500px;
  border-radius: 0.5em;
  box-shadow: 0 0 5px var(--light-grey-2);
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  position: absolute;
  right: 0;
  top: 45px;
  overflow-y: scroll;
}

._notifications::-webkit-scrollbar {
  display: none;
}
