@media screen and (max-width: 768px) {
  ._notifications {
    top: auto;
    margin: auto;
    right: 2.5%;
    bottom: 75px;
    width: 95%;
    height: 300px;
    border: 1px solid var(--light-grey);
    /* background-color: rgba(255, 255, 255, 0.742);
    backdrop-filter: blur(10px); */
  }
}
