._post_view {
  width: 100vw;
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.402); */
  display: flex;
  align-items: center;
  justify-content: center;
}

._post_view_content {
  /* background-color: #fff; */
  height: 500px;
  width: 800px;
  display: flex;
  align-items: center;
  /* border-radius: 0.5em; */
  gap: 20px;
}

._post_view_thumbnail {
  width: 50%;
  /* border-right: 1px solid var(--light-grey); */
  height: 100%;
  display: flex;
  align-items: center;
  /* background-color: #000; */
  /* border-radius: 0.5em 0 0 0.5em; */
  overflow: hidden;
  justify-content: center;
  padding: 10px;
  position: relative;
}

._post_view_thumbnail img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 1em;
}

._post_view_data {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px var(--light-grey-2);
  width: 50%;
  max-height: 100%;
  border-radius: 1em;
  position: relative;
  overflow: hidden;
}

._post_view_fixed_header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fff;
}

._post_view_header {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f8f8f8;
}

._post_view_header_avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 0.5em;
}

._post_view_user {
  display: flex;
  align-items: center;
  font-family: product_sans, sans-serif;
  gap: 5px;
  text-decoration: none;
  color: var(--dark-blue);
}

._post_view_subtitle {
  padding: 0 20px 20px 20px;
  border-bottom: 1px solid var(--light-grey);
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
}

._post_view_subtitle_user {
  font-weight: 800;
  color: var(--dark-grey);
  cursor: pointer;
  text-decoration: none;
  font-family: product_sans, sans-serif;
}

._post_view_subtitle_content {
  margin-inline-start: 5px;
  color: var(--medium-grey);
  font-family: product_sans, sans-serif;
  font-weight: 100;
  margin-inline-start: 5px;
  font-size: 0.9em;
  width: 100%;
}

._post_view_date {
  font-family: product_sans, sans-serif;
  font-weight: 100;
  color: var(--medium-grey);
  font-size: 0.7em;
}
