._menu_hamburger_header {
  background-color: var(--light-grey);
  position: absolute;
  top: 50px;
  padding: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 0.5em;
  border: 1px solid var(--light-grey);
  box-shadow: 0 0 5px rgb(191, 191, 191);
}

._menu_hamburger_header button {
  padding: 5px;
  background: none;
  border: none;
  text-align: left;
  font-family: product_sans, sans-serif;
  color: var(--dark-grey);
  cursor: pointer;
  border-radius: 0.5em;
  transition: 0.5s;
  display: flex;
  align-items: center;
  gap: 5px;
}

._menu_hamburger_header button svg {
  font-size: 1.2em;
}

._menu_hamburger_header button:hover {
  background-color: var(--light-grey-2);
}

._menu_hamburger_header ._logout_button {
  color: rgb(193, 35, 35);
}
