@media screen and (max-width: 768px) {
  ._header_bar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  ._title_header_bar {
    padding-left: 0;
  }

  ._nav_header_bar {
    /* background-color: red; */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    /* display: flex; */
    justify-content: space-evenly;
    border-top: 1px solid var(--light-grey);
  }
}