@media screen and (max-width: 768px) {
  ._header_bar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  ._notifications_area {
    position: static;
  }
  
  ._title_header_bar {
    padding-left: 0;
  }

  ._nav_header_bar {
    /* background-color: red; */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    /* display: flex; */
    justify-content: space-evenly;
    border-top: 1px solid var(--light-grey);
  }

  ._header_login {
    height: 100%;
    font-size: 1em;
    padding: 0;
    background-color: #fff;
  }
}
@media screen and (max-width: 500px) {
  ._search_area {
    position: static;
  }
}
