._post_top_content {
  width: 100%;
}

._post_user_avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid var(--light-grey);
  object-fit: cover;
}

._post_thumbnail {
  width: 100%;
  /* height: 250px; */
  object-fit: cover;
  /* border-radius: 1.3em; */
}

._post {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--light-grey);
  width: 100%;
  max-width: 500px;
  /* height: 500px; */
  border-radius: 0.5em;
}

._post_data {
  padding: 10px;
  width: 100%;
}

._post_data_user {
  font-weight: 800;
  color: var(--dark-grey);
  cursor: pointer;
  text-decoration: none;
}

._post_subtitle {
  color: var(--medium-grey);
  font-family: product_sans, sans-serif;
  font-weight: 100;
  margin-inline-start: 5px;
  font-size: 0.9em;
  width: 100%;
  text-align: left;
}

._post_user {
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: product_sans, sans-serif;
  font-weight: 100;
  color: var(--dark-grey);
  width: 100%;
  padding: 10px;
  text-decoration: none;
}

._verified_user_post {
  color: var(--orange);
}

._post_date {
  font-family: product_sans, sans-serif;
  font-weight: 100;
  color: var(--medium-grey);
  font-size: 0.7em;
  width: 100%;
  padding: 5px 10px;
}

._post_comments {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 0.8em;
  cursor: pointer;
  height: 100%;
}

._comments_link {
  color: #bbb;
  padding: 10px;
  font-family: product_sans, sans-serif;
}

._comment {
  /* background-color: red; */
  display: flex;
  height: 100%;
  border-radius: 0 0 0.5em 0.5em;
  /* background-color: red; */
  width: 100%;
  height: 50px;
  align-items: center;
  border-top: 1px solid var(--light-grey);
}

._comment svg {
  font-size: 2.5em;
  margin: 0 20px;
  color: var(--medium-grey);
}

._comment input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 5px;
  font-family: product_sans, sans-serif;
  color: var(--medium-grey);
}

._comment button {
  padding: 0 20px;
  height: 100%;
  background: none;
  border: none;
  color: var(--orange);
  cursor: pointer;
  font-family: product_sans, sans-serif;
  font-size: 1.2em;
}

._comment button:disabled {
  color: var(--orange);
  opacity: 0.3;
  cursor: not-allowed;
  font-weight: 500;
}
