._post {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--light-grey);
  width: 100%;
  max-width: 500px;
  /* height: 500px; */
  border-radius: 0.5em;
}

._post_top_content {
  width: 100%;
}

._post_user {
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: product_sans, sans-serif;
  font-weight: 100;
  color: var(--dark-grey);
  width: 100%;
  padding: 10px;
  text-decoration: none;
}

._post_user_avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid var(--light-grey);
  object-fit: cover;
}

._verified_user_post {
  color: var(--orange);
}

._post_thumbnail {
  width: 100%;
  /* height: 250px; */
  object-fit: cover;
  /* border-radius: 1.3em; */
}
