@media screen and (max-width: 768px) {
  ._search_results {
    right: 0;
  }
}

@media screen and (max-width: 500px) {
  ._search_results {
    top: 60px;
    width: 95%;
    right: 10px;
    max-height: none;
    height: calc(100vh - 130px);
  }
}
