
._edit_profile_header_button_edit,
._edit_profile_avatar_button_edit {
  position: absolute;
  background-color: var(--light-grey);
  top: 10px;
  left: 10px;
  /* padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  color: var(--dark-blue);
  border: none;
}

._edit_profile_avatar_button_edit {
  top: auto !important;
  bottom: 45px;
  right: 10px;
  left: auto;
}
