.body {
  height: 100vh;
  width: 100vw;
  /* background-color: black; */
  /* padding: 40px; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.page {
  /* border: 1px solid #F1F1F1; */
  border-radius: 5px;
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.persons {
  width: 30%;
  /* border-right: 1px solid #F1F1F1; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid var(--light-grey);
  width: 90%;
}

.user-pic {
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.name {
  color: #808080;
  text-transform: uppercase;
  font-family: Product_Sans, sans-serif;
  font-size: 1em;
  text-decoration: none;
}

.list {
  padding: 10px;
}

.person-message-false {
  margin-top: 10px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  width: 300px;
  max-width: 300px;
  min-width: 300px;
  border: 1px solid var(--light-grey);
  border-radius: 50px;
  align-items: center;
  text-decoration: none;
}

.person-message-true {
  margin-top: 10px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  width: 300px;
  max-width: 300px;
  min-width: 300px;
  text-decoration: none;
  border: 1px solid var(--light-grey);
  border-radius: 50px;
  align-items: center;
  background-color: var(--light-grey);
}

.all {
  display: flex;
  width: 80%;
}

.count-message {
  padding: 5px;
  height: 20px;
  width: 20px;
  color: white;
  border-radius: 50%;
  background-color: var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 10px;
  font-size: .8em;
}

.box-name {
  display: flex;
  align-items: center;
  width: 100%;
}

.verified {
  margin-left: 5px;
  color: var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.photo-chat {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.cat-message {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  justify-content: center;
  width: 80%;
}

.person-message:hover {
  cursor: pointer;
}

.name-chat {
  font-size: 0.7em;
  color: var(--medium-grey);
  text-decoration: none;
}

.message {
  font-size: 0.8em;
  color: var(--dark-grey);
  overflow: hidden;
  display: flex;
  align-items: center;
}

.chat {
  border: 1px solid var(--light-grey);
  width: 65%;
  height: 100%;
  border-radius: 10px;
}

.square-chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: end;
  position: relative;
  width: 100%;
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  flex-direction: column;
  background-color: white;
  width: 100%;
  position: absolute;
  top: 0;
}

.chat-header img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  top: 0px;
}

.chat-header p {
  font-size: 15px;
  color: var(--medium-grey);
}

.img-side-other, .img-side-me {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px;
}

.name-top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
}

.message-other, .message-me {
  display: flex;
  align-items: center;
  border: 1px solid var(--light-grey);
  width: fit-content;
  max-width: 50%;
  word-wrap: break-word;
  padding: 10px;
  font-size: 15px;
  color: var(--medium-grey);
  border-radius: 30px;
  /* background-color: var(--light-grey); */
}

.other-message {
  display: flex;
  align-items: center;
}

.me-message {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.img-side-me {
  position: relative;
  right: 0;
}

.tools-chat {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

.tools-chat-icon {
  font-size: 20px;
  color: var(--light-grey-2);
}

.tools-chat-icon:hover {
  opacity: 80%;
  cursor: pointer;
}

.mic {
  color: var(--orange);
  font-size: 30px;
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  border-radius: 20px;
  border: .5px solid var(--light-grey-2);
  padding: 5px 10px;
}

.send {
  color: var(--light-grey-2);
}

.input input {
  outline: none;
  border: 0;
  width: 90%;
}

.no-one {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.dont-message {
  font-size: 70px;
  color: var(--medium-grey);
  margin-bottom: 10px;
}

.no-one p {
  color: var(--medium-grey);
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 5px;
  margin-top: 10px;
}

.input-search {
  width: 90%;
  border: 1px solid var(--light-grey-2);
  padding: 5px;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  outline: none;
}

.search {
  color: var(--light-grey-2);
  cursor: pointer;
}

.write {
  color: var(--orange);
  font-size: 20px;
}

.write:hover {
  opacity: 80%;
  cursor: pointer;
}
