@media screen and (max-width: 924px) {
  ._home_content {
    padding-bottom: 60px;
  }

  .chat {
    display: none;
  }

  .persons {
    width: 100%;
  }

  .list {
    width: 100%;
    padding: 0;
  }

  .person-message-false {
    width: 100%;
    max-width: 100%;
    min-width: 300px;
  }
}