@media screen and (max-width: 768px) {
  ._post_data_user {
    font-size: 0.8em;
  }

  ._post_capture {
    font-size: 0.7em;
  }

  ._post_comments {
    font-size: 0.7em;
  }

  ._emoji_btn {
    display: none;
  }

  aside.EmojiPickerReact.epr-main {
    display: none !important;
  }

  ._comment {
    border-bottom: 1px solid var(--light-grey);
  }

  ._comment input {
    padding-left: 20px;
  }

  ._post_bar._post_view_post_bar {
    order: 0;
    border: none;
  }
}
